@model IEnumerable<AppSupportPortal.Web.Models.ServerViewModel>

<h2>Servers</h2>

<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Host Name</th>
            <th>IP Address</th>
        </tr>
    </thead>
    <tbody>
@foreach (var s in Model)
{
        <tr>
            <td>@s.Name</td>
            <td>@s.Description</td>
            <td>@s.Hostname</td>
            <td>@s.IPAddress</td>
            <td>
                <a asp-action="Edit" asp-route-id="@s.Id" class="btn btn-warning btn-sm">Edit</a>
                <a asp-action="Details" asp-route-id="@s.Id" class="btn btn-info btn-sm">Details</a>
                <a asp-action="Delete" asp-route-id="@s.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>